[submodule "themes/blist"]
	path = themes/blist
	url = https://github.com/apvarun/blist-hugo-theme.git
[submodule "mialunachen.github.io"]
	path = mialunachen.github.io
	url = https://github.com/mialunachen/mialunachen.github.io.git
[submodule "public"]
	path = public
	url = https://github.com/mialunachen/mialunachen.github.io.git
